# Shark League Score

## Import Python Libraries

In [1]:
import importlib
import pandas as pd
import logging 
import swc_simple_client as swc
importlib.reload(swc)

## Configure logging

In [2]:
for handler in logging.root.handlers[:]:
    logging.root.removeHandler(handler)

logging.basicConfig(
    filename='shark_notebook.log',
    level=logging.INFO,
)

## Setup notebook variables

In [3]:
base_url="https://urban-potato-vqxxv656rwh6x6j-8000.app.github.dev"

## Get Max Scores
### use endpoint: LIST_WEEKS_ENDPOINT

In [4]:
week_api_response = swc.call_api_endpoint(base_url, swc.LIST_WEEKS_ENDPOINT)

weeks_df = pd.DataFrame(week_api_response.json())
display(weeks_df)
weeks_df['year'] = weeks_df['week_number'].str.slice(0,4).astype(int)
display(weeks_df)
max_totals_grouped_df = weeks_df.groupby('year').agg(
    ppr_12_max_points=('ppr_12_max_points', 'sum'),
    half_ppr_8_max_points=('half_ppr_8_max_points', 'sum')
)

display(max_totals_grouped_df)

,week_number,ppr_8_max_points,ppr_10_max_points,ppr_12_max_points,ppr_14_max_points,half_ppr_8_max_points,half_ppr_10_max_points,half_ppr_12_max_points,half_ppr_14_max_points,std_8_max_points,std_10_max_points,std_12_max_points,std_14_max_points,last_changed_date
0,202301,864.0,1040.0,1392.0,1358.0,888.0,860.0,1332.0,1162.0,848.0,970.0,1260.0,1428.0,2024-09-03
1,202302,680.0,1220.0,1224.0,1204.0,744.0,1030.0,1416.0,1792.0,832.0,970.0,1260.0,1680.0,2024-09-03
2,202303,640.0,960.0,1368.0,1540.0,1008.0,890.0,1464.0,1064.0,632.0,730.0,936.0,1092.0,2024-09-03
3,202304,1048.0,1270.0,1092.0,1932.0,984.0,960.0,912.0,1204.0,960.0,1240.0,1452.0,1708.0,2024-09-03
4,202305,1024.0,800.0,1392.0,1344.0,896.0,860.0,1008.0,1190.0,912.0,1260.0,924.0,1806.0,2024-09-03
5,202306,912.0,910.0,960.0,1680.0,1000.0,960.0,1080.0,1204.0,952.0,1000.0,1140.0,1638.0,2024-09-03
6,202307,768.0,1340.0,1368.0,1820.0,992.0,1120.0,1260.0,1876.0,832.0,1160.0,840.0,1582.0,2024-09-03
7,202308,720.0,1160.0,1212.0,1554.0,904.0,760.0,924.0,1218.0,672.0,720.0,1380.0,994.0,2024-09-03
8,202309,864.0,940.0,1164.0,1932.0,632.0,1270.0,1116.0,1680.0,592.0,780.0,1500.0,1008.0,2024-09-03
9,202310,1048.0,1140.0,1260.0,1246.0,616.0,1080.0,1452.0,1876.0,848.0,850.0,1200.0,1358.0,2024-09-03
10,202311,864.0,830.0,1020.0,1680.0,840.0,970.0,1164.0,1862.0,816.0,1060.0,1488.0,1274.0,2024-09-03
11,202312,928.0,1010.0,996.0,1358.0,968.0,990.0,1116.0,1274.0,1040.0,1260.0,948.0,1316.0,2024-09-03
12,202313,920.0,810.0,1248.0,1820.0,864.0,1080.0,1596.0,1778.0,832.0,760.0,1164.0,1092.0,2024-09-03
13,202314,1016.0,1010.0,1020.0,1568.0,968.0,1190.0,1236.0,1162.0,944.0,820.0,1008.0,1554.0,2024-09-03
14,202315,872.0,1110.0,1656.0,1638.0,984.0,1340.0,1152.0,1750.0,904.0,1280.0,900.0,1414.0,2024-09-03
15,202316,960.0,800.0,1164.0,1680.0,912.0,1180.0,948.0,1652.0,624.0,1120.0,1056.0,1302.0,2024-09-03
16,202317,976.0,830.0,1512.0,1764.0,600.0,950.0,1116.0,1260.0,720.0,1300.0,1128.0,1722.0,2024-09-03
17,202318,970.0,1030.0,1522.0,1664.0,601.0,940.0,1115.0,1360.0,719.0,1299.0,1148.0,1732.0,2024-09-06

,week_number,ppr_8_max_points,ppr_10_max_points,ppr_12_max_points,ppr_14_max_points,half_ppr_8_max_points,half_ppr_10_max_points,half_ppr_12_max_points,half_ppr_14_max_points,std_8_max_points,std_10_max_points,std_12_max_points,std_14_max_points,last_changed_date,year
0,202301,864.0,1040.0,1392.0,1358.0,888.0,860.0,1332.0,1162.0,848.0,970.0,1260.0,1428.0,2024-09-03,2023
1,202302,680.0,1220.0,1224.0,1204.0,744.0,1030.0,1416.0,1792.0,832.0,970.0,1260.0,1680.0,2024-09-03,2023
2,202303,640.0,960.0,1368.0,1540.0,1008.0,890.0,1464.0,1064.0,632.0,730.0,936.0,1092.0,2024-09-03,2023
3,202304,1048.0,1270.0,1092.0,1932.0,984.0,960.0,912.0,1204.0,960.0,1240.0,1452.0,1708.0,2024-09-03,2023
4,202305,1024.0,800.0,1392.0,1344.0,896.0,860.0,1008.0,1190.0,912.0,1260.0,924.0,1806.0,2024-09-03,2023
5,202306,912.0,910.0,960.0,1680.0,1000.0,960.0,1080.0,1204.0,952.0,1000.0,1140.0,1638.0,2024-09-03,2023
6,202307,768.0,1340.0,1368.0,1820.0,992.0,1120.0,1260.0,1876.0,832.0,1160.0,840.0,1582.0,2024-09-03,2023
7,202308,720.0,1160.0,1212.0,1554.0,904.0,760.0,924.0,1218.0,672.0,720.0,1380.0,994.0,2024-09-03,2023
8,202309,864.0,940.0,1164.0,1932.0,632.0,1270.0,1116.0,1680.0,592.0,780.0,1500.0,1008.0,2024-09-03,2023
9,202310,1048.0,1140.0,1260.0,1246.0,616.0,1080.0,1452.0,1876.0,848.0,850.0,1200.0,1358.0,2024-09-03,2023
10,202311,864.0,830.0,1020.0,1680.0,840.0,970.0,1164.0,1862.0,816.0,1060.0,1488.0,1274.0,2024-09-03,2023
11,202312,928.0,1010.0,996.0,1358.0,968.0,990.0,1116.0,1274.0,1040.0,1260.0,948.0,1316.0,2024-09-03,2023
12,202313,920.0,810.0,1248.0,1820.0,864.0,1080.0,1596.0,1778.0,832.0,760.0,1164.0,1092.0,2024-09-03,2023
13,202314,1016.0,1010.0,1020.0,1568.0,968.0,1190.0,1236.0,1162.0,944.0,820.0,1008.0,1554.0,2024-09-03,2023
14,202315,872.0,1110.0,1656.0,1638.0,984.0,1340.0,1152.0,1750.0,904.0,1280.0,900.0,1414.0,2024-09-03,2023
15,202316,960.0,800.0,1164.0,1680.0,912.0,1180.0,948.0,1652.0,624.0,1120.0,1056.0,1302.0,2024-09-03,2023
16,202317,976.0,830.0,1512.0,1764.0,600.0,950.0,1116.0,1260.0,720.0,1300.0,1128.0,1722.0,2024-09-03,2023
17,202318,970.0,1030.0,1522.0,1664.0,601.0,940.0,1115.0,1360.0,719.0,1299.0,1148.0,1732.0,2024-09-06,2023

      ppr_12_max_points  half_ppr_8_max_points
year
2023            22570.0                15401.0

## Get League Scoring Type
### Use Endpoint: LIST_LEAGUES_ENDPOINT

In [5]:
league_api_response = swc.call_api_endpoint(base_url, swc.LIST_LEAGUES_ENDPOINT)
leagues_df = pd.DataFrame(league_api_response.json())
leagues_df = leagues_df.drop(columns = ['teams','last_changed_date'])
display(leagues_df)

   league_id                      league_name scoring_type  league_size
0       5001  Pigskin Prodigal Fantasy League          PPR           12
1       5002       Recurring Champions League     Half-PPR            8
2       5003                      AHAHFZZFFFL     Half-PPR            8
3       5004    Gridiron Gurus Fantasy League          PPR           12
4       5005                 Best League Ever          PPR           12

## Get Regular Season Scoring Totals - By Team
### Use Endpoint: LIST_TEAMS_ENDPOINT

In [6]:
team_api_response = swc.call_api_endpoint(base_url, swc.LIST_TEAMS_ENDPOINT)

teams_parsed_df = pd.json_normalize(team_api_response.json(), 'weekly_scores', ['league_id', 'team_id', 'team_name'])
teams_parsed_df['year'] = (teams_parsed_df['week_number'].str.slice(0,4).astype(int))
teams_parsed_df['week'] = (teams_parsed_df['week_number'].str.slice(4,6).astype(int))
display(teams_parsed_df)

#get only regular season teams
teams_regular_season_df = teams_parsed_df.query('week <= 14')

#get team season totals
team_totals_df = teams_regular_season_df.groupby(
    ['league_id', 'team_id', 'year'], as_index = False
)['fantasy_points'].sum()

display(team_totals_df)

,week_number,fantasy_points,last_changed_date,league_id,team_id,team_name,year,week
0,202301,99.0,2024-09-05,5001,1001,Roaring Kitties,2023,1
1,202302,123.0,2024-09-05,5001,1001,Roaring Kitties,2023,2
2,202303,54.0,2024-09-05,5001,1001,Roaring Kitties,2023,3
3,202304,115.0,2024-09-05,5001,1001,Roaring Kitties,2023,4
4,202305,59.0,2024-09-05,5001,1001,Roaring Kitties,2023,5
...,...,...,...,...,...,...,...,...
879,202313,50.0,2024-09-05,5005,1056,Team 12c,2023,13
880,202314,105.0,2024-09-05,5005,1056,Team 12c,2023,14
881,202315,130.0,2024-09-05,5005,1056,Team 12c,2023,15
882,202316,72.0,2024-09-05,5005,1056,Team 12c,2023,16
883,202317,125.0,2024-09-05,5005,1056,Team 12c,2023,17

   league_id team_id  year  fantasy_points
0       5001    1001  2023          1238.0
1       5001    1002  2023          1216.0
2       5001    1003  2023          1193.0
3       5001    1004  2023          1071.0
4       5001    1005  2023           958.0
5       5001    1006  2023          1319.0
6       5001    1007  2023          1048.0
7       5001    1008  2023          1276.0
8       5001    1009  2023          1157.0
9       5001    1010  2023           975.0
10      5001    1011  2023          1308.0
11      5001    1012  2023          1293.0
12      5002    1013  2023          1117.0
13      5002    1014  2023          1194.0
14      5002    1015  2023          1082.0
15      5002    1016  2023          1131.0
16      5002    1017  2023          1242.0
17      5002    1018  2023          1128.0
18      5002    1019  2023          1169.0
19      5002    1020  2023          1063.0
20      5003    1021  2023          1203.0
21      5003    1022  2023           924.0
22      5003    1023  2023          1246.0
23      5003    1024  2023          1142.0
24      5003    1025  2023          1013.0
25      5003    1026  2023          1260.0
26      5003    1027  2023           851.0
27      5003    1028  2023           960.0
28      5004    1033  2023          1157.0
29      5004    1034  2023          1209.0
30      5004    1035  2023           945.0
31      5004    1036  2023          1141.0
32      5004    1037  2023          1187.0
33      5004    1038  2023          1253.0
34      5004    1039  2023          1397.0
35      5004    1040  2023          1223.0
36      5004    1041  2023          1046.0
37      5004    1042  2023          1301.0
38      5004    1043  2023           973.0
39      5004    1044  2023           920.0
40      5005    1045  2023          1015.0
41      5005    1046  2023          1020.0
42      5005    1047  2023          1273.0
43      5005    1048  2023           812.0
44      5005    1049  2023          1156.0
45      5005    1050  2023          1227.0
46      5005    1051  2023          1234.0
47      5005    1052  2023          1247.0
48      5005    1053  2023          1263.0
49      5005    1054  2023          1071.0
50      5005    1055  2023           974.0
51      5005    1056  2023          1021.0

## League Balance Score
### Using the Coefficient of Variation (CV) of league regular season totals

Breaking It Down
x.std() / x.mean()

This is the coefficient of variation (CV).

It measures relative variability: how spread out the data is compared to its mean.


A higher CV means the values are less balanced (more spread out).

(x.std() / x.mean()) * 100

Converts CV into a percentage (e.g., 0.12 â†’ 12%).

100 - (x.std() / x.mean()) * 100

Inverts the metric:

If CV = 0% (perfectly balanced), 100 - 0 = 100.

If CV = 20%, 100 - 20 = 80.

So higher scores = more balance.

In [9]:
league_stats_df = team_totals_df.groupby(['league_id', 'year']).agg(
    league_points_sum=('fantasy_points', 'sum'),
    league_points_mean=('fantasy_points', 'mean'),
    league_points_stdev=('fantasy_points', 'std'),
    league_balance_score=('fantasy_points',
                          lambda x: (100 -(x.std() / x.mean()) * 100))

                         
).reset_index()

display(league_stats_df.sort_values(by='league_balance_score', ascending=False))

,league_id,year,league_points_sum,league_points_mean,league_points_stdev,league_balance_score
1,5002,2023,9126.0,1140.750000,58.801725,94.845345
0,5001,2023,14052.0,1171.000000,128.872735,88.994643
3,5004,2023,13752.0,1146.000000,148.203177,87.067786
4,5005,2023,13313.0,1109.416667,145.786555,86.859170
2,5003,2023,8599.0,1074.875000,157.835753,85.315897

## League Juice Score
### Compare league scoring to max potential scoring

In [15]:
league_stats_with_league_max_df = (league_stats_df[
    ['league_id', 'year', 'league_points_sum', 'league_balance_score']]
    .merge(max_totals_grouped_df, left_on = 'year', right_on='year'))

combined_metrics_df = (leagues_df[
    ['league_id', 'league_name','scoring_type', 'league_size']]
    .merge(league_stats_with_league_max_df,
           left_on = 'league_id', right_on = 'league_id'))

combined_metrics_df['league_juice_score'] = combined_metrics_df.apply(
    lambda row: (
        100 * (row['league_points_sum'] / row['ppr_12_max_points'])
        if(row['scoring_type'] == 'PPR' and row['league_size'] == 12)
        else (
            100 * (row['league_points_sum'] / row['half_ppr_8_max_points'])
            if (row['scoring_type'] == 'Half-PPR' and row['league_size'] == 8)
            else None
        )
    ),
    axis = 1
)

cobined_metrics_df = (combined_metrics_df.drop(
    columns=['scoring_type', 'league_size', 'league_points_sum', 'ppr_12_max_points', 'half_ppr_8_max_points',]
))
display (combined_metrics_df)

,league_id,league_name,scoring_type,league_size,year,league_points_sum,league_balance_score,ppr_12_max_points,half_ppr_8_max_points,league_juice_score
0,5001,Pigskin Prodigal Fantasy League,PPR,12,2023,14052.0,88.994643,22570.0,15401.0,62.259637
1,5002,Recurring Champions League,Half-PPR,8,2023,9126.0,94.845345,22570.0,15401.0,59.255892
2,5003,AHAHFZZFFFL,Half-PPR,8,2023,8599.0,85.315897,22570.0,15401.0,55.834037
3,5004,Gridiron Gurus Fantasy League,PPR,12,2023,13752.0,87.067786,22570.0,15401.0,60.930439
4,5005,Best League Ever,PPR,12,2023,13313.0,86.859170,22570.0,15401.0,58.985379

# Create Shark League Score
## Shark League Score = (2 * League Juice Score) + League Balance Score

In [16]:
combined_metrics_df['shark_league_score'] = combined_metrics_df.apply(
    lambda league: (2 * league['league_juice_score']) + league['league_balance_score'],
    axis=1
)

display(combined_metrics_df.sort_values(by='shark_league_score', ascending=False))

,league_id,league_name,scoring_type,league_size,year,league_points_sum,league_balance_score,ppr_12_max_points,half_ppr_8_max_points,league_juice_score,shark_league_score
0,5001,Pigskin Prodigal Fantasy League,PPR,12,2023,14052.0,88.994643,22570.0,15401.0,62.259637,213.513916
1,5002,Recurring Champions League,Half-PPR,8,2023,9126.0,94.845345,22570.0,15401.0,59.255892,213.357130
3,5004,Gridiron Gurus Fantasy League,PPR,12,2023,13752.0,87.067786,22570.0,15401.0,60.930439,208.928663
4,5005,Best League Ever,PPR,12,2023,13313.0,86.859170,22570.0,15401.0,58.985379,204.829928
2,5003,AHAHFZZFFFL,Half-PPR,8,2023,8599.0,85.315897,22570.0,15401.0,55.834037,196.983970